<div class="container">
  <h2>If you wish to send a love note, please do so</h2>
  <div>
    <form action="/contact" method="get">
      <input type="text" name="member" placeholder="Type something...">
      <input type="submit">
    </form>
    <%= link_to 'home', root_path %>
  </div>
</div>
